---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="About">
  <section class="archive">

    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header" style="color:gray">About Me</h2>
        <div class="tag-post-list">
          <ul>
            <li style="font-family: 'Palatino', serif;">A Student</li>
            <li style="font-family: 'Palatino', serif;">A Salted Fish Dreamer</li>
            <li style="font-family: 'Palatino', serif;">A Simple Style Lover</li>
          </ul>
        </div>
      </div>
      <div class="archive-tag">
        <h2 class="tag-header" style="color:gray">About Blog</h2>
        <div class="tag-post-list">
          <ul>
            <li style="font-family: 'Palatino', serif;">An Online Memo</li>
            <li style="font-family: 'Palatino', serif;">An Online Markdown</li>
          </ul>
        </div>
      </div>
      <div class="archive-tag">
        <h2 class="tag-header" style="color:gray">Pageviews</h2>
        <div class="tag-post-list"></div>
        <a href='https://clustrmaps.com/site/1buzg'  title='Visit tracker'>
          <img src='//clustrmaps.com/map_v2.png?cl=080808&w=350&t=tt&d=VhiUkrnSbJcY8XJVeuFOTmL2ivEONd6N61daCYy6cBs&co=ffffff&ct=808080'/>
        </a>
    </div>
  </section>
</BaseLayout>
