---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="About">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">About Me</h2>
        <div class="tag-post-list">
          <ul>
            <li>A Student</li>
            <li>A Salted Fish Dreamer</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Links</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/KINSHINGP" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://github.com/kinshingpoon" target="_blank">Github</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <div class="archive-tag">
        <h2 class="tag-header">Pageviews</h2>
        <div class="tag-post-list"></div>
        <a href='https://clustrmaps.com/site/1buzg'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=080808&w=350&t=tt&d=VhiUkrnSbJcY8XJVeuFOTmL2ivEONd6N61daCYy6cBs&co=ffffff&ct=808080'/></a>
    </div>
  </section>
</BaseLayout>
