---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <a href="http://jianchengpan.com/Info/email.html" target="_blank">Email</a>
            <!-- <div class="email">{SITE_EMAIL}</div> -->
          </div>

          <div class="item products">
            <div class="item-title">WORK</div>
            <a href="/" target="_blank">Blog</a>
            <a href="https://github.com/kinshingpoon" target="_blank">Github</a>
          </div>

          <div class="item community">
            <div class="item-title">MEDIA</div>
            <a href="https://twitter.com/KINSHINGP" target="_blank">Twitter</a>
            <a href="https://t.me/kinshingpoon" target="_blank">Telegram</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">LINKS</div>
            <a href="https://the.top/jianchengpan" target="_blank">Top Link</a> 
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
          <a href="//github.com/austin2035/astro-air-blog">Astro-air-blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
